body{

background-color: gray 



}
 
head{
display: flex;
background-color: aqua;
justify-content: space-between;
padding: 20px;
}
.class_menuintem{

display: inline;
text-transform: uppercase;
margin-left: 20pxs;

}

























